    body {
        background: url(/resources/imagenes/vJR4Pz.jpg);
    }
    
    h1 {
        color: white
    }
    
    map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
    }
    
    .cart-column {
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
        margin-right: 1.5em;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    
    .cart-row {
        display: flex;
    }
    
    .cart-item {
        width: 45%;
    }
    
    .cart-price {
        width: 20%;
        font-size: 1.2em;
        color: #333;
    }
    
    .cart-quantity {
        width: 35%;
    }
    
    .cart-item-title {
        color: #333;
        margin-left: .5em;
        font-size: 1.2em;
    }
    
    .cart-item-image {
        width: 75px;
        height: auto;
        border-radius: 10px;
    }